


<div class="container">
	
	<h1 class="center spinz-blue medals-title">Badges</h1>

		<% counter = 0 %>

		<% @medals.each do |medal| %>

			<% if (counter%3) == 0 %> 
				<div class="row">
			<% end %>

			<div class="col-sm-4  ">
			
				<div class=" medals-content ">
					<%= cl_image_tag(medal.picture.url, class: "medal-img center", alt: "") %>
				
					<h3 class="center spinz-green"> <%= medal.name %> </h3>
					
					<p class="spinz-blue center "><%= medal.description %></p>

				</div>		

			</div>


			<% counter += 1 %>

			<% if (counter%3) == 0 %> 
				<div class="clearfix"></div>
				</div>
			<% end %>

		<% end %>
		



	</div>

</div>


