// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/**************** Challenge User ****************/

.challenge-user-wrapper{
	padding: 50px 0;
}

.avatar-img{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	background-color: #fff;
	margin-bottom: 10px;
}

.ch-pro-pic{
	font-size: 10px !important;
}

.ch-pro-pic:hover{
	color: white;

}


.pro-ch-info{
	text-align: center;
	margin-top: 25px;
}

.your-badges{
	margin-top: 20px;
}


/******************* Challenges ************************/

.challenges-wrapper{
	margin: 25px 0px 0px !important;

}
.challenges-container{
	margin: 30px 0px;
}

.ch-container{
	margin: 25px 0;
}


.challenge-wrapper{
	padding: 15px 0;
	/*height: 175px;*/
	/*width: 95% !important;*/
	margin: 0 auto;
}

.challenge-content h3{
	margin-bottom: 10px !important;
}


.ch-content-p {
	font-size: 12.5px;
	height: 75px;
	overflow: hidden;
	margin: 0px !important;
}

.ch-content-ad{
	font-size: 10px;
	margin: 0px !important;
}

.challenge-img {
	display: inline-block;
	vertical-align: middle;
}

.challenge-img img {
	display: block;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 15px auto 0;
	text-align: center;
}

.read-more{
	margin: 0 auto !important;    
	display:block !important;
	width: 100px;
}

.challenge-start{
	width: 80% !important;
	padding: 10px 0;
	margin: 10px auto 0 !important;
	color: white !important;
}

.challenge-start a{
	color: white !important;

}

.profile-medal-wrapper{
	text-align: center;
	margin-top: 25px;
}

.see-medals-wrapper{
	margin-top: 10px !important;
}


.see-medals{
	
	color: white;
}


.see-medals:hover{
	color: white;
}


.profile-medal{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}



/***************** MEDIA QUERIES ******************/


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}


/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {




}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 992px) {
	.pro-ch-info{
		text-align: left;
		margin-top: 10px;
	}

	.your-badges{
		margin-top: 0px;
	}

	.challenge-wrapper{
		height: 175px;
		margin: 0 auto;
	}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}








