// Place all the styles related to the Medals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.medals-title{
	margin:  25px 0 50px  !important;
}


.medals-content h3 {
	margin-top: 15px !important;
	margin-bottom: 10px !important;
}


.medals-content{
	padding: 20px;
	min-height: 250px !important;

}

.medal-img {
	width: 100px;
	height: 100px;
	margin: 0 auto !important;
	display: block;
	border-radius: 50%;

}